{% extends 'index.html' %}
{% block content %}
    <div class="container my-5 pb-5" style="width:500px">
    {% for post in posts %}
        <div class="post bg-white rounded my-4">
            <div class="row">
                <div class="col-2 mt-2 ms-2 pe-0">
                    <img src="{{ MEDIA_URL }}{{ post.writer.profile_photo.url }}" class="img img-thumbnail rounded-circle" style="width:40px;height: 40px;">
                </div>
                <div class="col-9 mt-3">
                    {{ post.writer }}
                </div>
            </div>
            <div class="row">
                <div class="col-12 ms-3 mt-3 pb-3">
                    {{ post.content }}
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-muted text-center">{{ post.date_created }}</div>
            </div>
        </div>
    {% endfor %}
    </div>

{% endblock %}